templateFiles/sfn-launcher/workflow.asl.json
{
  "StartAt": "SetupVariables",
  "States": {
    "SetupVariables": {
      "Type": "Pass",
      "Parameters": {
        "target": {
          "name.$": "$.targetName",
          "input.$": "$.targetInput",
          "additionalInput": {
            "environment.$": "States.ArrayGetItem(States.StringSplit($$.StateMachine.Name, '-'), States.MathAdd(States.ArrayLength(States.StringSplit($$.StateMachine.Name, '-')), -1))"
          }
        },
        "queueName.$": "$.queueName",
        "env": {
          "environment.$": "States.ArrayGetItem(States.StringSplit($$.StateMachine.Name, '-'), States.MathAdd(States.ArrayLength(States.StringSplit($$.StateMachine.Name, '-')), -1))",
          "region.$": "States.ArrayGetItem(States.StringSplit($$.StateMachine.Id, ':'), 3)",
          "accountId.$": "States.ArrayGetItem(States.StringSplit($$.StateMachine.Id, ':'), 4)"
        }
      },
      "Next": "StartTarget"
    },
    "StartTarget": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution",
      "Parameters": {
        "StateMachineArn.$": "States.Format('arn:aws:states:{}:{}:stateMachine:{}-{}', $.env.region, $.env.accountId, $.target.name, $.env.environment)",
        "Input.$": "States.JsonMerge($.target.input, $.target.additionalInput, false)"
      },
      "ResultPath": "$.target.execution",
      "Next": "Wait"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 1,
      "Next": "GetStatus"
    },
    "GetStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sfn:describeExecution",
      "Parameters": {
        "ExecutionArn.$": "$.target.execution.ExecutionArn"
      },
      "ResultPath": "$.target.execution",
      "Next": "CheckStatus"
    },
    "CheckStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.target.execution.Status",
          "StringEquals": "RUNNING",
          "Next": "Wait"
        }
      ],
      "Default": "SendResult"
    },
    "SendResult": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl.$": "States.Format('https://sqs.{}.amazonaws.com/{}/{}-{}', $.env.region, $.env.accountId, $.queueName, $.env.environment)",
        "MessageBody.$": "$.target.execution"
      },
      "ResultPath": null,
      "End": true
    }
  }
}
